.button-container {
    text-align: right; /* Align the buttons to the right */
}

.material-icons {
    margin: 5px; /* Add some margin for spacing between buttons */
    padding-right: 5px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/